name: CI/CD Pipeline for Node + Mongo

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/testapp:${{ github.sha }} .

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/testapp:${{ github.sha }}

  deploy:
    runs-on: self-hosted
    needs: build

    steps:
      - name: Pull Latest Image
        run: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/testapp:${{ github.sha }}

      - name: Stop Running Containers
        run: |
          docker-compose down || true

      - name: Start Updated Containers
        run: |
          docker-compose up -d
